.App {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  box-sizing: border-box;

}


.navbar-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  height: 60px;
}

.left-nav {

  display: flex;
  flex: 1;
}

.left-nav span {

  margin-left: 20px;
  font-size: 19px;
  cursor: pointer;

}


.right-nav {

  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.right-nav i {

  margin-top: 5px;
}


.middle-nav {

  flex: 1;
}

.search-container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  border: 1px solid lightgray;
  height: 30px;
  width: 170px;
}

.search-container i {
  color: grey;
  font-size: 10px;
}



.para-middle {

  font-weight: bold;
  font-size: 40px;
}

.input-search {
  border: 0;
  width: 80%;
  appearance: none;
  outline: none !important;
}

.right-nav>span,
i {
  cursor: pointer;
}

.announce {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: teal;

}

.announce span {
  color: white;
  font-weight: 500;
  font-size: 14px;

}

.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;

}

.slider-arrow-circle-left {
  z-index: 2;
  opacity: 0.5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff7f7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;

}

.slider-arrow-circle-right {
  z-index: 2;
  opacity: 0.5;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff7f7;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.wrapper {

  height: 100vh;
  display: flex;
}

.slide {

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f5fafd;

}

.image-container {
  height: 80%;
  flex: 1;
}

.image-container img {

  background-color: none;
}

.image {
  height: 80%;
}

.info-container {
  padding: 15px;
  flex: 1;
}

.title-info {
  font-size: 70px;
}

.para-info {
  letter-spacing: 3px;
  font-size: 18px;
  margin: 50px 0px;
}

.btn-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.btn-iinfo {
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 25px;
  border: 2px solid black;
  background-color: transparent;

}

.carousel-container {


  overflow: hidden;
  position: relative;
  height: 100vh;

}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
  {
  filter: invert(100%);
}

.Category-container {
  justify-content: center;
  margin: 15px;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.category-item-container {
  margin: 2px;
  position: relative;
}

.category-item-info-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.category-item-img {
  height: 400px;
  object-fit: contain;
  width: 100%;

}

.category-item-span {

  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  width: 80px;
  height: 100px;
}

.category-item-btn {
  cursor: pointer;
  font-size: 12px;
  color: grey;
  background-color: white;
  border: none;
  padding: 10px;
  width: 100px;
}

.Products-container {
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.indivdual-item-container {
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 228, 224);
  height: 250px;
  width: 260px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.image-circle {
  width: 50%;
}

.product-icons-container {
  opacity: 0;
  height: 250px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-icons-container:hover {
  transition: all 0.5s ease;
  opacity: 100;
  height: 250px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.product-icons-container i {
  margin: 10px;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-icons-container i:hover {
  transition: all 0.5s ease;
  background-color: #e9f5f5;
  transform: scale(1.1);

}

.Newsletter-container {
  background-color: #fcf5f5;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}


.Newsletter-container h1 {
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: bold;
}

.Newsletter-container p {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
}

.Newsletter-container i {
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex: 1;
  color: white;
  padding: 6px;
  border: 1px solid gray;

}

.newsletter-button-input {

  flex-direction: row;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-button-input input {

  outline: none !important;
  padding-left: 20px;
  flex: 8;
  width: 400px;
  height: 40px;
}


.footer-container {
  padding: 20px;
  display: flex;


}

.footer-left {
  flex: 1;
}

.footer-right {
  text-align: left;
  flex: 1;
}

.footer-title-right {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.footer-right i {
  margin-top: 5px;
  margin-right: 20px;
}




.footer-right>div {
  display: flex;
  margin-bottom: 10px;

}

.footer-middle {
  flex: 1;
}

.footer-middle ul {
  text-align: left;
  width: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-middle p {
  font-weight: bold;
  font-size: 20px;
  margin-left: 80px;
  text-align: left;
}

.list-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-icon-container {

  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 300px;


}

.footer-icon-container i {
  scale: 2;

}

.productList-title {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.filter {
  margin: 20px;
}

.filter span {
  font-weight: bold;
  font-size: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.filter-select {
  padding: 5px;
  margin-right: 20px;

}

.filter-select-size {
  margin-left: 20px;
}

.filter-select-sort {
  margin-left: 20px;
  padding: 10px;
}


.details-container {
  text-align: left;
  height: 100vh;
  display: flex;
}

.product-details {
  padding: 12px;
  flex: 1;
}

.details-container img {
  padding: 20px;
  object-fit: cover;
  flex: 1;
}

.detail-price {
  font-size: 40px;
  font-weight: 100;
}

.circle1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;

}

.circle2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;

}

.circle3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
}


.filter-title {
  font-size: 20px;
  font-weight: 200;
}

.color-size-filter-container {
  align-items: center;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.circle-container {
  width: 140px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.size-container {
  width: 130px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button-counter-container {
  align-items: center;
  width: 45%;
  margin-top: 20px;
  margin-left: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.icon-counter-container {
  margin-right: 20px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.counter {
  margin: 0 10px;
  padding: 3px 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.counter-btn button {
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 2px solid teal;
}

.counter-btn:hover {
  background-color: #f8f4f4;
}

.Register-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Register-wrapper {
  margin: 10px;
  padding: 20px;
  width: 500px;
  background-color: white;

}

.Register-container input {
  flex: 1;
  padding: 5px;
  margin: 10px;

}

.Register-container h4 {
  text-align: left;
  margin-left: 10px;
}

.Register-container p {
  text-align: left;
  font-size: 12px;
  margin: 20px 10px;

}

.create-btn-container{
  display: flex;
  justify-content: flex-start;
  margin: 0px 10px;
}
.create-btn-container Button{
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.Login-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}


.Login-container input {
  font-size: 15px;
  flex: 1;
  padding: 5px;
  margin: 10px;

}

.Login-container h4 {
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
}

.Login-container a {
  text-align: left;
  font-size: 12px;
  margin: 5px 10px;
  color: black;

}

.create-btn-container{
  display: flex;
  justify-content: flex-start;
  margin: 0px 10px;
}
.create-btn-container Button{
  font-weight: 400;
  font-size: 15px;
  margin: 5px 0px;
  width: 40%;
  border: none;
  padding: 10px 15px;
  background-color: teal;
  color: white;
  cursor: pointer;
}


.Login-wrapper {
  margin: 10px;
  padding: 20px;
  width: 25%;
  background-color: white;

}
.login-link-container{

  display: flex;
  justify-content: flex-start;
}

.login-form{
  display: flex;
  flex-direction: column;
}