.App {
  font-family: 'Urbanist',sans-serif;
  text-align: center;
 
}


.navbar-container{
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color:white;
  height: 60px;
}
.left-nav
{
  margin-top: 12px;
  display: flex;
  flex: 1;
}
.left-nav span
{
  margin-top: 12px;
  margin-left: 20px;
  font-size:19px;
  cursor: pointer;
  
}


.right-nav
{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.middle-nav
{
  margin-top: 20px;
  flex: 1;
}
.search-container{
  margin-left: 50px;
  margin-top: 12px;
  padding: 3px;
  border: 1px solid lightgray;
  height: 20px;
  width: 170px;
}
.search-container i{
  color: grey;
 font-size: 10px;
}
.inside-search{

  justify-content: space-between;
  height: 20px;
  align-items: center;
  display: flex;
  width: 100%;

}
.para-search{
  color: grey;
  display: flex;
  width:8px;
}

.para-middle{

font-weight: bold;
  font-size: 40px;
}
.input-search{
  border: 0;
  width: 80%;
  appearance: none;
 outline:none!important;
}



